* {
  font-family: "Red Hat Text", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(20, 50%, 98%);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1440px;
  margin: auto;
}

.heading {
  font-size: 48px;
  color: black;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(20, 50%, 98%);
  transition: transform 0.3s ease-in-out;
}

.product-category {
  color: hsl(7, 20%, 60%);
  font-size: 14px;
  font-weight: 700;
}

.product-item:hover {
  transform: scale(1.05);
}
.product-button .add-to-cart-icon {
  width: 20px;
  height: 20px;
}

.product-item .product-thumbnail {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

.product-name {
  font-size: 16px;
  color: hsl(14, 65%, 9%);
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}

.product-img-container {
  position: relative;
  margin-bottom: 40px;
}

.product-button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 40px;
  margin-top: 20px;
  color: hsl(14, 86%, 42%);
  border: 3px solid hsl(14, 25%, 72%);
  background-color: hsl(20, 50%, 98%);
  border-radius: 50px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -20px;
  right: 20px;
}

.product-button:hover {
  cursor: pointer;
}

.product-cart-container {
  background-color: white;
  box-shadow: 2px 2px 10px hsl(20, 50%, 98%);
  padding: 20px;
  width: 500px;
  min-height: 300px;
  border-radius: 20px;
}

.product-cart-container .cart-title {
  color: hsl(14, 86%, 42%);
  padding: 15px;
}

.product-cart-container p {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding: 10px;
}

.product-cart-items {
  height: 250px;
  border-radius: 10px;
  margin: auto;
  overflow-y: auto;
}

.product-cart-items .hr {
  width: 400px;
  margin: auto;
  height: 0.5px;
  border: none;
  border-top: 1px solid hsl(13, 31%, 94%);
}

.product-cart-item {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.product-cart-item img {
  width: 60px;
  height: 60px;
}

.product-cart-item h3 {
  color: black;
  font-size: 15px;
}

.product-cart-item p {
  color: black;
  font-size: 12px;
}

.product-cart-item .remove-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.cart-item-container .cart-item-name {
  color: hsl(14, 65%, 9%);
}
.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-details .cart-item-quantity {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
  font-size: 12px;
}
.cart-item-details .cart-item-price {
  color: hsl(14, 25%, 72%);
  font-size: 16px;
  font-weight: 700;
}
.cart-item-details .cart-item-total {
  color: hsl(7, 20%, 60%);
  font-size: 16px;
  font-weight: 700;
}

.cartQuantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 200px;
  height: 50px;
  padding: 0px 20px;
  gap: 50px;
  color: hsl(14, 86%, 42%);
  margin-top: 20px;
  background-color: hsl(24, 100%, 48%);
  border-radius: 50px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -20px;
  right: 20px;
  z-index: 10;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.cartQuantity-container .increment,
.cartQuantity-container .decrement {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.cartQuantity-container .quantity{
  color: white;
}
.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  color: hsl(14, 86%, 42%);
  font-size: 30px;
}

.empty-cart-container .empty-cart-title {
  font-size: 14px;
  font-weight: 400;
  color: hsl(14, 25%, 72%);
}
.checkout-btn {
  width: 80%;
  margin: auto;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 30px;
  background-color: hsl(14, 86%, 42%);
  border-radius: 50px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.checkout-btn:hover {
  background-color: hsl(14, 100%, 63%);
  scale: inherit;
  cursor: pointer;
}
.icon-carbon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  border-radius: 10px;
  background-color: hsl(13, 31%, 94%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.icon-carbon img {
  width: 30px;
  height: 30px;
}
.icon-carbon .text-carbon {
  font-size: 14px;
  font-weight: 400;
  color: hsl(7, 20%, 60%);
}
.icon-carbon .text-carbon span {
  font-weight: 700;
  font-size: 14px;
  color: hsl(14, 65%, 9%);
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 30px 0px;
  color: hsl(14, 65%, 9%);
}
.cart-total .cart-total_title {
  font-size: 18px;
  font-weight: 400;
  color: hsl(7, 20%, 60%);
}
.cart-total .cart-total_price {
  font-size: 30px;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}

/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.cart-checkout-container {
  display: block;
}

/* Modal Container*/
.modal_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Modal Content */
.modal_content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Modal Buttons */
.modal_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Modal buttons styling */
.close_modal_btn {
  width: 100%;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(14, 86%, 42%);
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.modal_content_container {
  padding: 20px;
  text-align: left;
}
.modal_icon_order {
  margin-bottom: 10px;
}
.order_confirm_heading {
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.order-confirm_subheading {
  color: hsl(14, 25%, 72%);
  margin-bottom: 25px;
}
.conform_order-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
}
.confirm_cart_items {
  height: 250px;
  border-radius: 10px;
  overflow-y: auto;
}
.confirm_item_name {
  font-size: 18px;
  margin-bottom: 10px;
  color: hsl(14, 65%, 9%);
}
.confirm_item_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  color: black;
}
.confirm_cart_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 5px;
  background-color: hsl(13, 31%, 94%);
}
.confirm_item_price {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.confirm_item_quantity {
  color: hsl(14, 86%, 42%);
}
.cart_item_price {
  font-size: 16px;
  color: hsl(14, 25%, 72%);
  font-weight: 700;
}
.confirm_item_total {
  font-size: 20px;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}
.confirm_item_container {
  color: hsl(14, 65%, 9%);
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    max-width: 100%;
    padding: 0 20px;
    gap: 20px;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-button {
    left: 50px;
    width: 200px;
  }

  .cartQuantity-container {
    left: 50px;
    width: 200px;
  }

  .product-item .product-thumbnail {
    width: 300px;
    height: 200px;
  }

  .heading {
    padding: 15px 10px;
    font-size: 36px;
  }

  .product-cart-container {
    width: 100%;
    padding: 20px;
  }

  .product-cart-item {
    width: 100%;
    padding: 10px;
  }

  /* Modal Container */
  .modal_container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  /* Modal Content */
  .modal_content {
    width: 80%;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .conform_order-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
  }

  .confirm_item_details {
    width: 100%;
  }

  .confirm_cart_items {
    height: 350px;
  }

  .confirm_item_price {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  .product-cart-items {
    width: 100%;
    padding: 0 10px;
  }

  .product-cart-item img {
    width: 50px;
    height: 50px;
  }

  .product-cart-item h3,
  .product-cart-item p {
    font-size: 14px;
    width: 100%;
  }

  .product-cart-item .remove-icon {
    width: 14px;
    height: 14px;
  }

  .product-cart-items .hr {
    width: 100%;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .content-container {
    flex-direction: column;
    max-width: 100%;
  }
  .product-list {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
  .product-button {
    left: 70px;
  }
  .cartQuantity-container {
    left: 70px;
  }
  .product-item .product-thumbnail {
    width: 350px;
  }
  .heading {
    padding: 20px 20px;
    font-size: 48px;
    color: hsl(14, 65%, 9%);
  }
  .product-cart-container {
    width: 100%;
  }
  .product-cart-item {
    width: 100%;
  }
  /* Modal Container*/
  .modal_container {
    justify-content: flex-end;
    align-items: flex-end;
  }
  /* Modal Content */
  .modal_content {
    width: 100%;
    height: 90%;
  }
  .conform_order-container {
    flex-direction: column;
    height: 100%;
  }
  .confirm_item_details {
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  .confirm_cart_items {
    height: 400px;
  }
  .confirm_item_price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .product-cart-items {
    width: 100%;
    padding: 0 5px;
  }

  .product-cart-item img {
    width: 40px;
    height: 40px;
  }

  .product-cart-item h3,
  .product-cart-item p {
    font-size: 12px;
    width: 100%;
  }

  .product-cart-item .remove-icon {
    width: 12px;
    height: 12px;
  }

  .product-cart-items .hr {
    width: 100%;
  }
}
